body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.flexible_container{
    display: flex;
    margin-bottom: 150px;
}
.orange-color {
  color: #ffa22c;
}

.top_banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}
.half-width img {
  width: 80%;
}
.link_btn {
  text-decoration: none;
  background-image: linear-gradient(170deg, #ff655c, #ff8c71);
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

